<%- include('header', {title: 'Add new book'}) %>

<div class="register flex flex-col min-h-screen items-center justify-center">
    <form class="flex flex-col items-center justify-between p-5 gap-7 bg-gray-300 rounded min-h-[20rem] w-full md:w-fit text-2xl">
        <h1 class="text-4xl">
            Add book
        </h1>
        <div class="form-control flex flex-col gap-3">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="p-2 px-3 bg-white outline-none focus:border-gray-400 focus:border-2 transition-all" placeholder="Name e.x Math" autofocus>
        </div>
        <div class="form-control flex flex-col gap-3 w-full">
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" class="p-2 px-3 bg-white w-full outline-none focus:border-gray-400 focus:border-2 transition-all" placeholder="Description e.x Book of math"></textarea>
        </div>
        <div class="flex items-center justify-between w-full gap-4">
            <div class="form-control flex flex-col gap-3">
                <label for="isbn">ISBN</label>
                <input type="number" name="isbn" id="isbn" class="p-2 px-3 bg-white outline-none focus:border-gray-400 focus:border-2 transition-all" value="<%= nextISBN %>" disabled>
            </div>
            <div class="form-control flex flex-col gap-3">
                <label for="author">Author</label>
                <input type="text" name="author" id="author" class="p-2 px-3 bg-white outline-none focus:border-gray-400 focus:border-2 transition-all" value="<%= userData ? userData.name : 'Not Registered or Logged' %>" disabled>
            </div>
        </div>
        <button type="submit" onclick="handleSubmit(event)" class="bg-gray-400/50 hover:bg-gray-400/80 transition-colors py-2 px-5 cursor-pointer rounded">
            Add
        </button>
    </form>
</div>

<%- include('footer') %>


<script>
    const handleSubmit = async (event)=>{
        event.preventDefault()
        
        try {
            const title = document.getElementById('title').value
            const desc = document.getElementById('desc').value
            const isbn = document.getElementById('isbn').value
            const author = document.getElementById('author').value
            const userData = {
                title: title,
                desc: desc,
                isbn: isbn,
                author: author,
            }
            const response = await fetch('/books/add-book', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(userData)
            })
            const result = await response.json()
            if(response.ok){
                alert(result.message)
                window.location.href = result.redirect
            }else{
                alert(result.message)
            }
        } catch (error) {
            alert(error.message)
        }
    }
</script>