<%- include('header', {title: 'Error', message}) %>

<div class="error min-h-screen w-full flex flex-col gap-3 items-center justify-center mx-auto container">
    <div class="content flex items-center justify-center gap-5">
        <strong class="text-3xl font-bold text-red-500">Something went wronge.</strong>
        <%= '|' %>
        <p><%= message %>.</p>
    </div>
    <a href="/" class="bg-gray-400 hover:bg-gray-500 transition-colors font-bold p-3 rounded text-xl">Go back home</a>
</div>

<%- include('footer') %>