<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <header class="bg-gray-300 ">
        <nav class="flex items-center justify-between mx-auto container">
            <a href="/">Home</a>
            <ul class="flex items-center justify-between list-none h-[3.8rem]">
                <% if (user) { %>
                    <li class="h-fit">
                        <a class="p-5 hover:bg-gray-400 transition-colors" href="/books">Books</a>
                    </li>
                    <li>
                        <a class="p-5 hover:bg-gray-400 transition-colors" href="/books/my-books">My Books</a>
                    </li>
                    <li>
                        <a class="p-5 hover:bg-gray-400 transition-colors" href="/books/add-book">Add Book</a>
                    </li>
                    <li>
                        <a class="p-5 hover:bg-gray-400 transition-colors" href="/users/logout">Logout</a>
                    </li>
                <% }else{ %>
                <li>
                    <a class="p-5 hover:bg-gray-400 transition-colors" href="/users/login">Login</a>
                </li>
                <li>
                    <a class="p-5 hover:bg-gray-400 transition-colors" href="/users/register">Register</a>
                </li>
                <% } %>
            </ul>
        </nav>
    </header>