<%- include('header', {title: 'Home'}) %>

<div class="home flex flex-col items-center justify-center min-h-screen mx-auto container">
    <h1 class="text-4xl">
        Home page
    </h1>
</div>

<%- include('footer') %>